body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  margin: 30px 0 6px;
  border-bottom: 1px solid #4d4d4d;
}

a {
  text-decoration: none;
}

.header-main,
nav {
  width: 1100px;
  margin: 0 auto 16px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sign-up h3 {
  color: #00b3e5;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
}

.sign-up h3:hover {
  color: #278eb7;
  cursor: pointer;
}

.sign-up p {
  font-family: 'PT Serif', serif;
  color: #999;
  font-size: 16px;
}

.sign-up p:hover {
  border-bottom: 1px solid #999;
  cursor: pointer;
}

#page-title {
  width: 350px;
  height: auto;
  padding-top: 20px;
  cursor: pointer;
}

#subscribe {
  width: 296px;
  height: auto;
  cursor: pointer;
}

nav.main {
  margin-bottom: 11px;
  position: relative;
}

nav.main ul {
  display: inline-block;
}

nav.main li {
  display: inline-block;
  margin-right: 15px;
} 

nav.main a {
  font-size: 17px;
  font-weight: 700;
  color: #002837;
  padding-bottom: 4px;
}

nav.main .fas.fa-angle-double-right {
  transform: rotate(90deg);
  margin-left: 4px;
}

.sign-in-and-search {
  display: inline-block;
  position: absolute;
  right: 0;
}

.sign-in-and-search .fas {
  margin-right: 4px;
}

.fas.fa-search {
  margin-left: 12px;
}

.sign-in-and-search a:hover {
  text-decoration: underline;
  color: #999;
}

nav.main .active {
  color: #00b3e5;
  border-bottom: 4px solid #002837;
}

nav.main .others {
  color: #00b3e5
}

nav.main li a:hover {
  color: #00b3e5;
  border-bottom: 4px solid #002837;
}

article {
  padding: 16px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

article main {
  width: 780px;
}

article aside {
  position: absolute;
  top: 16px;
  right: 0;
  width: 300px;
  margin-left: 22px;
}

article h1 {
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 700;
}

nav.article {
  width: 100%;
  margin-bottom: 4px;
}

nav.article ul {
  display: flex;
  justify-content: space-between;
}

nav.article li {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 7px 14px;
}

nav.article li:hover {
  background-color: #ddd;
}

nav.article li a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

nav.article .active {
  background-color: #00b3e5 !important;
}

nav.article .active a {
  color: #fff;
}

.aside-articles li {
  counter-increment: item;
  background-color: #f5f5f5; 
  padding: 11px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.aside-articles li::after {
  content: counter(item);
  color: #00b3e5;
  font-size: 35px;
  font-weight: 600;
}

.aside-articles a {
  font-size: 22px;
  font-weight: 600;
  color: #4d4d4d;
  margin-right: 22px;
}

.aside-articles a:hover {
  color: #00b3e5;
  cursor: pointer;
}

.social-links {
  margin-bottom: 11px;
}

.social-links a {
  display: inline-block;
}

.social-links a i {
  height: 32px;
  width: 32px;
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  border-radius: 50%;
  color: #fff;
}

.fa-facebook-f {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #1da1f2;
}

.fa-whatsapp {
  background-color: #4dc247;
}

.fa-linkedin-in {
  background-color: #0077b5;
}

.fa-reddit-alien {
  background-color: #ff5700;
}

.fa-envelope,
.fa-print {
  background-color: #999;
}

.article-meta h3 {
  display: inline-block;
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 11px;
}

article .genre {
  font-weight: 700;
}

.article-meta .author {
  display: block;
}

.article-meta .author a {
  color: #00b3e5;
  font-weight: 600;
}

figure {
  margin-bottom: 22px;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 12px;
  color: #4d4d4d;
}

figcaption .caption {
  font-weight: 700;
}

.body {
  font-family: 'PT Serif', serif;
  font-size: 17px;
  color: #4d4d4d;
  line-height: 1.5;
  margin-bottom: 11px;
}

.body a,
.read-more a,
.journal a,
.article-sign-up a {
  color: #00b3e5;
}

.read-more {
  background-color: #f5f5f5;
  padding: 11px;
  margin: 22px 0;
  font-size: 16px;
  font-weight: 700;
}

.read-more a {
  padding-left: 6px;
}

.reference,
.article-sign-up {
  margin-bottom: 11px;
  color: #4d4d4d;
}

.reference {
  font-size: 16px;
  font-weight: 600;
}

.journal {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-style: italic;
}

.journal a {
  font-style: normal;
}

.article-sign-up {
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.more-on-topic {
  padding: 22px 0;
}

.more-on-topic p,
.more-on-topic a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.more-on-topic p {
  color: #4d4d4d;
}

.more-on-topic a {
  background-color: #005587;
  color: #fff;
  padding: 9px 7px;
  border: none;
  border-radius: 4px;
  margin-left: 6px;
}

