body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  margin: 30px 0 6px;
  border-bottom: 1px solid #4d4d4d;
}

a {
  text-decoration: none;
}

.header-main,
nav {
  width: 1100px;
  margin: 0 auto 16px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sign-up h3 {
  color: #00b3e5;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
}

.sign-up h3:hover {
  color: #278eb7;
  cursor: pointer;
}

.sign-up p {
  font-family: 'PT Serif', serif;
  color: #999;
  font-size: 16px;
}

.sign-up p:hover {
  border-bottom: 1px solid #999;
  cursor: pointer;
}

#page-title {
  width: 350px;
  height: auto;
  padding-top: 20px;
  cursor: pointer;
}

#subscribe {
  width: 296px;
  height: auto;
  cursor: pointer;
}

nav {
  margin-bottom: 11px;
  position: relative;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 15px;
} 

nav a {
  font-size: 17px;
  font-weight: 700;
  color: #002837;
  padding-bottom: 4px;
}

nav .fas.fa-angle-double-right {
  transform: rotate(90deg);
  margin-left: 4px;
}

.sign-in-and-search {
  display: inline-block;
  position: absolute;
  right: 0;
}

.sign-in-and-search .fas {
  margin-right: 4px;
}

.fas.fa-search {
  margin-left: 12px;
}

.sign-in-and-search a:hover {
  text-decoration: underline;
  color: #999;
}

nav .active {
  color: #00b3e5;
  border-bottom: 4px solid #002837;
}

nav .others {
  color: #00b3e5
}

nav li a:hover {
  color: #00b3e5;
  border-bottom: 4px solid #002837;
}